

<div class="bg1">
  
  <img class="headerImg" [src] ="relativePathSRC" [width] = "widthSRC" [height] = "heightSRC">
    <mat-form-field class="findInput" appearance="outline">
      <input  matInput placeholder="Find good furniture for me">
      <mat-icon matSuffix >search</mat-icon>
    </mat-form-field>

    <mat-form-field class="help" appearance="fill">
      <mat-label>24/7help</mat-label>
      <mat-select>
        <mat-option>Get help from our experts 24/7</mat-option>
        <mat-option>888-888-000</mat-option>
        <mat-option>Contact us</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="loginField" appearance="fill">
      <mat-label>Login & Signup</mat-label>
      <mat-select>
        <mat-option>
          <a id="loginlink" routerLink="login" >Login </a></mat-option>
        <mat-option>
          <a id="signlink" routerLink="signup" >Signup</a></mat-option>
      </mat-select>
    </mat-form-field>
     <button >
      <mat-icon preSuffix >add_shopping_cart</mat-icon>
      cart
    </button> 
    
   
    <br>
    <mat-form-field apperance="outline">
      <mat-label>Shop by Gold Jewellery</mat-label>
      <mat-select>
        <mat-option>Ear Rings</mat-option>
        <mat-option>Necklace</mat-option>
        <mat-option>Rings</mat-option>
        <mat-option>Bangles</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="formDiamond" apperance="fill">
      <mat-label>Shop by Diamond Jewellery</mat-label>
      <mat-select>
        <mat-option>Ear Rings</mat-option>
        <mat-option>Necklace</mat-option>
        <mat-option>Rings</mat-option>
        <mat-option>Bangles</mat-option>
      </mat-select>
    </mat-form-field>
    <a id="shipping">FREE 1-2 DAY SHIPPING OVER $50 </a>
</div>

<router-outlet></router-outlet>
<app-navigation></app-navigation> 
<!-- <app-login></app-login><br> -->
<!-- <app-sign-up></app-sign-up>    -->

 
 

 

      
 